{% extends 'base.html' %}

{% block content %}
<div class="resetpasswordrequestform">
    <span>Reset Password</span>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.email.label(class='user-label-field') }}<br />
        {{ form.email(class='user-input-field') }}<br/>
        {% for error in form.email.errors %}
        <span class='error'>[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.submit(class='submit-user-form-btn') }}</p>
    </form>
  </div>
{% endblock %}