{% extends 'base.html' %} {% block content %}
<div class="wrapper">
  <form action="" method="post" class="taskform">
    {{ form.hidden_tag() }} {{ form.content(class='input-box') }} {{
    form.submit(class='submit-btn') }}
  </form>
  {% if tasks|length < 1 %}
  <span id='notasks'>Tasks weren't been added</span>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Added</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.timestamp }}</td>
        <td>
          <a class="btn-upd" href="/update/{{ task.id }}">Update</a>
          <a class="btn-del" href="/delete/{{ task.id }}">Delete</a>
        </td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
